@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap");

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
}

.conatiner {
  width: 95%;
  max-width: 80rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

h1 {
  font-size: 24px;
  line-height: 29px;
  margin-top: 3rem;
}

.cart {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 3rem;
}

.cart__checkout {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #bdbdbd;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 2rem;
  align-items: flex-start;
  position: relative;

}

.cart__item:nth-of-type(2) {
  margin-bottom: 7rem;
}

.cart__item img {
  width: 40%;
  border-radius: 1.2rem;
}

.cart__item-info {
  width: 67%;
}

.cart__item-info h4 {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0.5rem;
}

.cart__item-info p {
  margin: 0;
  color: #f2994a;
}

.cart__item-info p span {
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: line-through;
  color: #333333;
  margin-left: 0.5rem;
}

.cart__item-quantity {
  display: flex;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 0.7rem 2rem;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  position: absolute;
  bottom: 0;
}

.cart__item-quantity div {
  background: #e0e0e0;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.user__info h3 {
  margin-top: 3rem;
}

.user__info__input input {
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  font-size: 12px;
  line-height: 15px;
  padding-left: 4rem;
  font-weight: 600;
}

.user__info__input input:focus-visible {
  outline-offset: 0px;
  outline: 1px solid black;
}

.user__info__input input::placeholder {
  color: #828282;
  opacity: 1;
}

.user__info__input {
  position: relative;
  display: flex;
}

.user__info__input svg {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  fill: #828282;
}

form label {
  font-size: 10px;
}

.btn__container {
  text-align: end;
}

.btn__container button {
  text-align: end;
  background: #f2994a;
  border-radius: 12px;
  padding: 1.7rem 4.5rem;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.user__info__agree label {
  vertical-align: text-bottom;
}

.user__info__input__inline {
  display: flex;
  gap: 2rem;
}

.user__info__input__inline div {
  width: 100%;
}

a{
    color: inherit;
}

footer {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  padding-bottom: 1rem;
  color: #bdbdbd;
}

@media (min-width: 600px) {
  .container__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 5%;
  }

  .user__info h3 {
    margin-top: 0;
  }

  .user__info {
    width: 100%;
  }

  .cart {
    padding: 1rem;
    align-self: flex-start;
  }

  .cart__item img {
    width: 40%;
  }

  .cart__item-quantity {
    padding: 0.5rem 1rem;
  }
}
